
  
body{
	background-image:url("guestbook.jpg");
    /*background-position: center;*/
    background-size: cover;
    font-family: "Baskerville";
    font-style: normal;
   
    line-height: 1.3em;
    text-align: center;
    margin:0
	
  }
.panel-body{
    
    color: #050505;
}
#sai{
    color: solid black;
    font-style: italic;
    font-size: 43px;
}
 
.for_p{
	font-family: "Baskerville";
	font-style: normal;
	font-size: 20px;
	line-height: 1.3em;
	text-align: center;
	color: black;
}
#maindiv {	
	margin: auto;
	border: 5px solid;
	max-width : 500 px;
}
#name{
	color: #002699;
	font-style: oblique;
	text-decoration: none;
}
.headings{
	color: #330000;
	font-family:  "Times New Roman", Times, serif;
    font-style: italic;
	text-decoration: underline;
	/*margin-top: 20px;*/
	
	}

.main{
	color: #000208;
	font-family: "Baskerville";
	font-style: normal;
	font-size: 25px;
	line-height: 1.3em;
	text-align: center;
	/*background-color: #031960;*/
	width : 700px;
	margin : auto;
	margin-top: 10px;
}
#foot{
	color: #4d1f00;
	text-decoration: underline;
}

.lia{
	display: block;
	color:black;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	
}
#for_ul{
	font-family: "Baskerville";
	font-style: normal;
	font-size: 20px;
	overflow: hidden;
	/*position: fixed;*/
	top: 0;
	width: 100%;
	overflow: hidden;
	/*line-height: 1.3em;*/
	margin: 0;
	padding: 0;
	border: 3px solid;
	/*width: 345px;*/
	list-style-type: none;
	background-color:#5f5f5f;
}
#name1{
	font-family: "Baskerville";
	font-style: italic;
	font-size: 20px;
	color: black;
	font-weight: bolder;
}
#contact{
	font-style: italic;
	font-size: 30px;
	color: black;
	font-weight: bolder;
	text-align: center
}
.forlinks{
	font-size: 2em;
	color: black;
}
.font{
	font-size: 1.2em;
	color: bottom: black;;;
}

li a:hover:not(.active) {
    background-color: #cccccc;
}

.active {
    background-color: #cccccc;
}
